RewriteEngine On
RewriteBase /localhost/samsung/MVC_PiePHP/
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_URI} !^/localhost/samsung/MVC_PiePHP/(webroot/.+|index.php|robots.txt)$
RewriteRule ^ index.php [QSA,L]